/* Standard Balises */
body {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f0f2f0;

  font-family: "Liberation Serif", "serif";
  font-size: 17px;
  line-height: 1.2;
}

h1 {
  position: sticky;
  top: -1px;
  width: 100%;
  margin: 1.5em 0;
  padding: 0.2em;

  text-align: center;
  font-size: 3em;

  background-color: #e5e5e5;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0.3em;
}
